attrs==20.2.0
base58==2.0.1
bitarray==1.2.2
certifi==2020.6.20
chardet==3.0.4
cytoolz==0.10.1
eth-abi==2.1.1
eth-account==0.5.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.0
eth-typing==2.2.2
eth-utils==1.9.5
hexbytes==0.2.1
idna==2.10
importlib-metadata==1.7.0
importlib-resources==3.0.0
ipfshttpclient==0.6.1
jsonschema==3.2.0
lru-dict==1.1.6
multiaddr==0.0.9
netaddr==0.8.0
parsimonious==0.8.1
protobuf==3.13.0
pycryptodome==3.9.8
pyrsistent==0.17.3
pytest==6.1.0
requests==2.24.0
rlp==2.0.0a1
rusty-rlp==0.1.15
six==1.15.0
SQLAlchemy==1.3.19
toolz==0.10.0
typing-extensions==3.7.4.3
urllib3==1.25.10
varint==1.0.2
web3==5.12.1
websockets==8.1
zipp==3.1.0
black==20.8b1
flake8==3.8.4
