name: Mainnet Fork Tests

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
      - closed
    branches:
      - main
      - develop
    paths:
      - "src/**"

permissions:
  contents: read
  security-events: write

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      FORGE_REV: v0.3.0
    steps:
      - uses: actions/checkout@v3

      # TODO: Remove after upgrade to CSM v2 on Mainnet.
      - name: Checkout CSM repo
        uses: actions/checkout@v4
        with:
          repository: 'lidofinance/community-staking-module'
          ref: 'develop'
          path: 'testruns/community-staking-module'
          persist-credentials: false

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: ${{ env.FORGE_REV }}

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version-file: "testruns/community-staking-module/.nvmrc"
          cache: 'yarn'
          cache-dependency-path: "testruns/community-staking-module/yarn.lock"

      - name: Install Just
        run: cargo install "just@1.24.0"

      - name: Install dependencies
        working-directory: testruns/community-staking-module
        run: just deps

      - name: Build contracts
        working-directory: testruns/community-staking-module
        run: just build

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Setup poetry
        run: >
          curl -sSL https://install.python-poetry.org | python - &&
          echo "$POETRY_HOME/bin" >> "$GITHUB_PATH"
        env:
          POETRY_HOME: "/opt/poetry"
          POETRY_VERSION: 1.3.2

      - name: Install Python dependencies
        run: |
          poetry install --no-interaction --with=dev

      - name: Mainnet Fork Tests
        run: poetry run pytest -m 'fork' -n auto tests
        env:
          EXECUTION_CLIENT_URI: ${{ secrets.EXECUTION_CLIENT_URI }}
          CONSENSUS_CLIENT_URI: ${{ secrets.CONSENSUS_CLIENT_URI }}
          KEYS_API_URI: ${{ secrets.KEYS_API_URI }}
          LIDO_LOCATOR_ADDRESS: "0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb"
          CSM_MODULE_ADDRESS: "0xdA7dE2ECdDfccC6c3AF10108Db212ACBBf9EA83F"
          PINATA_JWT: ${{ secrets.PINATA_JWT }}
          PINATA_DEDICATED_GATEWAY_URL: ${{ secrets.PINATA_DEDICATED_GATEWAY_URL }}
          PINATA_DEDICATED_GATEWAY_TOKEN: ${{ secrets.PINATA_DEDICATED_GATEWAY_TOKEN }}
          LIDO_IPFS_TOKEN: ${{ secrets.LIDO_IPFS_TOKEN }}
          LIDO_IPFS_HOST: ${{ secrets.LIDO_IPFS_HOST }}
          STORACHA_AUTH_SECRET: ${{ secrets.STORACHA_AUTH_SECRET }}
          STORACHA_AUTHORIZATION: ${{ secrets.STORACHA_AUTHORIZATION }}
          STORACHA_SPACE_DID: ${{ secrets.STORACHA_SPACE_DID }}
