name: Tests

on: [push]

permissions:
  contents: read
  security-events: write

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup poetry
        run: >
          curl -sSL https://install.python-poetry.org | python - &&
          echo "$POETRY_HOME/bin" >> "$GITHUB_PATH"
        env:
          POETRY_HOME: "/opt/poetry"
          POETRY_VERSION: 1.3.2

      - name: Install dependencies
        run: |
          poetry install --no-interaction --with=dev

      - name: Test with pytest
        run: poetry run pytest --cov=src tests

  linters:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup poetry
        run: >
          curl -sSL https://install.python-poetry.org | python - &&
          echo "$POETRY_HOME/bin" >> "$GITHUB_PATH"
        env:
          POETRY_HOME: "/opt/poetry"
          POETRY_VERSION: 1.3.2

      - name: Install dependencies
        run: |
          poetry install --no-interaction --with=dev

      - name: Lint with black
        run: poetry run black --check tests

      - name: Lint with pylint
        run: poetry run pylint src tests

      - name: Lint mypy
        run: poetry run mypy src
